
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many CSS rules you will need... */
#one {
  border-width: 5px;
  border-color: blue;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 25%;
}

#two {
  border-width: 5px;
  border-color: green;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 25%;
}

#three {
  border-width: 5px;
  border-color: orange;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 25%;
}

#four {
  border-width: 5px;
  border-color: yellow;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 25%;
}

#link {
  position: fixed;
  top: 10px;
  right: 45%;
  left: 45%;
}

#link a {
  color: #e7e7e7;
  background-color: #334cad;
  text-decoration: none;
}
